<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.commands">
		<category id="com.cloudbees.eclipse.run.ui.commands.category"
			name="CloudBees Run@Cloud">
		</category>
  <command
        categoryId="com.cloudbees.eclipse.run.ui.commands.category"
        defaultHandler="com.cloudbees.eclipse.run.ui.contributions.handlers.CBSampleWebAppHandler"
        id="com.cloudbees.eclipse.run.ui.commands.newSampleWebApp"
        name="New Sample Web Application">
  </command>
  <command
        categoryId="com.cloudbees.eclipse.run.ui.commands.category"
        defaultHandler="com.cloudbees.eclipse.run.ui.contributions.handlers.ReferenceHandler"
        id="com.cloudbees.eclipse.run.ui.commands.referenceToMenu"
        name="Reference To CloudBess Menus">
  </command>
	</extension>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          allPopups="false"
          locationURI="toolbar:org.eclipse.ui.main.toolbar">
       <toolbar
             id="com.cloudbees.eclipse.run.ui.toolbar"
             label="CloudBees">
          <command
                commandId="com.cloudbees.eclipse.run.ui.commands.referenceToMenu"
                icon="icons/16x16/cb_plain.png"
                label="CloudBees"
                style="pulldown">
          </command>
       </toolbar>
    </menuContribution>
    <menuContribution
          allPopups="false"
          locationURI="menu:com.cloudbees.eclipse.run.ui.commands.referenceToMenu">
       <command
             commandId="com.cloudbees.eclipse.run.ui.commands.newSampleWebApp"
             icon="icons/16x16/cb_plain.png"
             label="New Sample Web Application"
             mnemonic="N"
             style="push"
             tooltip="Create a sample web application">
       </command>
    </menuContribution>
 </extension>
	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution id="com.cloudbees.eclipse.run.ui.contribution"
			objectClass="org.eclipse.core.resources.IProject">
			<action class="com.cloudbees.eclipse.run.ui.popup.actions.DeployAction"
				enablesFor="1" id="com.cloudbees.eclipse.run.ui.deploy.cloud" label="Deploy"
				menubarPath="com.cloudbees.eclipse.ui.popup.cloudbees/cloudbeesGroup"></action>
   <visibility>
      <and>
         <objectClass
               name="org.eclipse.core.resources.IProject">
         </objectClass>
         <objectState
               name="projectNature"
               value="com.cloudbees.eclipse.core.cloudbeesNature">
         </objectState>
      </and>
   </visibility>
		</objectContribution>
	</extension>


	<extension point="org.eclipse.ui.newWizards">
		<category id="com.cloudbees.eclipse.run.ui" name="CloudBees">
		</category>
		<wizard category="com.cloudbees.eclipse.run.ui"
			class="com.cloudbees.eclipse.run.ui.wizards.CBSampleWebAppWizard"
			icon="icons/16x16/cb_plain.png" id="com.cloudbees.eclipse.run.ui.wizards.CBSampleWebAppWizard"
			name="Sample Web App" project="true">
		</wizard>
	</extension>
 <extension
       point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
          configTypeID="com.cloudbees.eclipse.run.core.launchConfigurationType"
          icon="icons/16x16/cb_plain.png"
          id="com.cloudbees.eclipse.run.ui.launchConfigurationTypeImage">
    </launchConfigurationTypeImage>
 </extension>
 <extension
       point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
          class="com.cloudbees.eclipse.run.ui.CBLaunchConfigurationTabGroup"
          id="com.cloudbees.eclipse.run.ui.launchConfigurationTabGroup"
          type="com.cloudbees.eclipse.run.core.launchConfigurationType">
    </launchConfigurationTabGroup>
 </extension>
 <extension
       point="org.eclipse.debug.ui.launchShortcuts">
    <shortcut
          class="com.cloudbees.eclipse.run.ui.CBLaunchShortcut"
          icon="icons/16x16/cb_plain.png"
          id="com.cloudbees.eclipse.run.ui.shortcut"
          label="CloudBees Application"
          modes="run, debug">
       <contextualLaunch>
          <contextLabel
                label="label"
                mode="run, debug">
          </contextLabel>
          <enablement>
             <with
                   variable="selection">
                <count
                      value="1">
                </count>
                <iterate
                      ifEmpty="false"
                      operator="and">
                   <instanceof
                         value="org.eclipse.core.resources.IProject">
                   </instanceof>
                   <test
                         property="com.cloudbees.eclipse.core.isCloudBeesNature">
                   </test>
                </iterate>
             </with>
          </enablement>
       </contextualLaunch>
    </shortcut>
 </extension>

</plugin>
