<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.commands">
		<category id="com.cloudbees.eclipse.run.ui.commands.category"
			name="CloudBees RUN@cloud">
		</category>
		<command categoryId="com.cloudbees.eclipse.run.ui.commands.category"
			defaultHandler="com.cloudbees.eclipse.run.ui.contributions.handlers.CBSampleWebAppHandler"
			id="com.cloudbees.eclipse.run.ui.commands.newSampleWebApp" name="New CloudBees Project...">
		</command>
		<command categoryId="com.cloudbees.eclipse.run.ui.commands.category"
			defaultHandler="com.cloudbees.eclipse.run.ui.contributions.handlers.ReferenceHandler"
			id="com.cloudbees.eclipse.run.ui.commands.referenceToMenu" name="Reference To CloudBees Menus">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution allPopups="false"
			locationURI="toolbar:org.eclipse.ui.main.toolbar">
			<toolbar id="com.cloudbees.eclipse.run.ui.toolbar" label="CloudBees">
				<command commandId="com.cloudbees.eclipse.run.ui.commands.referenceToMenu"
					icon="icons/16x16/cb_plain.png" label="CloudBees" style="pulldown">
				</command>
			</toolbar>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="menu:com.cloudbees.eclipse.run.ui.commands.referenceToMenu">
			<command commandId="com.cloudbees.eclipse.run.ui.commands.newSampleWebApp"
				icon="icons/16x16/cb_new_proj_wiz_ico_16x16.png" label="New CloudBees Project..."
				mnemonic="N" style="push" tooltip="Create a sample CloudBees project">
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution adaptable="true"
			id="com.cloudbees.eclipse.run.ui.deploy" nameFilter="*"
			objectClass="org.eclipse.core.resources.IProject">
			<action class="com.cloudbees.eclipse.run.ui.popup.actions.DeployAction"
				enablesFor="1" id="com.cloudbees.eclipse.run.ui.deploy.cloud" label="Deploy to RUN@cloud@"
				menubarPath="com.cloudbees.eclipse.ui.popup.cloudbees/cloudbeesGroup"></action>
			<visibility>
				<and>
					<objectClass name="org.eclipse.core.resources.IProject">
					</objectClass>
					<objectState name="projectNature"
						value="com.cloudbees.eclipse.core.cloudbeesNature"></objectState>
				</and>
			</visibility>
		</objectContribution>
		<objectContribution adaptable="true"
			id="com.cloudbees.eclipse.run.ui.stop" nameFilter="*"
			objectClass="org.eclipse.core.resources.IProject">
			<action class="com.cloudbees.eclipse.run.ui.popup.actions.StartAction"
				enablesFor="1" id="com.cloudbees.eclipse.run.ui.deploy.cloud" label="Start in RUN@cloud@"
				menubarPath="com.cloudbees.eclipse.ui.popup.cloudbees/cloudbeesGroup">
			</action>
			<visibility>
				<and>
					<objectClass name="org.eclipse.core.resources.IProject">
					</objectClass>
					<objectState name="projectNature"
						value="com.cloudbees.eclipse.core.cloudbeesNature">
					</objectState>
				</and>
			</visibility>
		</objectContribution>
		<objectContribution adaptable="true"
			id="com.cloudbees.eclipse.run.ui.start" nameFilter="*"
			objectClass="org.eclipse.core.resources.IProject">
			<action class="com.cloudbees.eclipse.run.ui.popup.actions.StopAction"
				enablesFor="1" id="com.cloudbees.eclipse.run.ui.deploy.cloud" label="Stop in RUN@cloud@"
				menubarPath="com.cloudbees.eclipse.ui.popup.cloudbees/cloudbeesGroup">
			</action>
			<visibility>
				<and>
					<objectClass name="org.eclipse.core.resources.IProject">
					</objectClass>
					<objectState name="projectNature"
						value="com.cloudbees.eclipse.core.cloudbeesNature">
					</objectState>
				</and>
			</visibility>
		</objectContribution>
  <objectContribution
        adaptable="false"
        id="com.cloudbees.eclipse.run.ui.tail.server"
        objectClass="com.cloudbees.api.ApplicationInfo">
     <action
           class="com.cloudbees.eclipse.run.ui.popup.actions.AbstractTailAction$TailServerLogAction"
           enablesFor="1"
           id="com.cloudbees.eclipse.run.ui.action.tail.server"
           label="Tail Server Log">
     </action>
  </objectContribution>
  <objectContribution
        adaptable="false"
        id="com.cloudbees.eclipse.run.ui.tail.access"
        objectClass="com.cloudbees.api.ApplicationInfo">
     <action
           class="com.cloudbees.eclipse.run.ui.popup.actions.AbstractTailAction$TailAccessLogAction"
           enablesFor="1"
           id="com.cloudbees.eclipse.run.ui.action.tail.access"
           label="Tail Access Log">
     </action>
  </objectContribution>
  <objectContribution
        adaptable="false"
        id="com.cloudbees.eclipse.run.ui.tail.error"
        objectClass="com.cloudbees.api.ApplicationInfo">
     <action
           class="com.cloudbees.eclipse.run.ui.popup.actions.AbstractTailAction$TailErrorLogAction"
           enablesFor="1"
           id="com.cloudbees.eclipse.run.ui.action.tail.error"
           label="Tail Error Log">
     </action>
  </objectContribution>
	</extension>


	<extension point="org.eclipse.ui.newWizards">
		<category id="com.cloudbees.eclipse.run.ui" name="CloudBees">
		</category>
		<wizard category="com.cloudbees.eclipse.run.ui"
			class="com.cloudbees.eclipse.run.ui.wizards.CBWebAppWizard"
			icon="icons/16x16/cb_new_proj_wiz_ico_16x16.png" id="com.cloudbees.eclipse.run.ui.wizards.CBSampleWebAppWizard"
			name="CloudBees Project" project="true">
		</wizard>
	</extension>
	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
		<launchConfigurationTypeImage
			configTypeID="com.cloudbees.eclipse.run.core.launchconfiguration.launchConfigurationType"
			icon="icons/16x16/cb_plain.png"
			id="com.cloudbees.eclipse.run.ui.launchconfiguration.launchConfigurationTypeImage">
		</launchConfigurationTypeImage>
		<launchConfigurationTypeImage
			configTypeID="com.cloudbees.eclipse.run.core.launchcloudconfiguration.launchConfigurationType"
			icon="icons/16x16/cb_plain.png"
			id="com.cloudbees.eclipse.run.ui.launchcloudconfiguration.launchConfigurationTypeImage">
		</launchConfigurationTypeImage>
	</extension>
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
			class="com.cloudbees.eclipse.run.ui.launchconfiguration.CBLaunchConfigurationTabGroup"
			id="com.cloudbees.eclipse.run.ui.launchconfiguration.launchConfigurationTabGroup"
			type="com.cloudbees.eclipse.run.core.launchconfiguration.launchConfigurationType">
		</launchConfigurationTabGroup>
		<launchConfigurationTabGroup
			class="com.cloudbees.eclipse.run.ui.launchconfiguration.CBCloudLaunchConfigurationTabGroup"
			id="com.cloudbees.eclipse.run.ui.launchcloudconfiguration.launchConfigurationTabGroup"
			type="com.cloudbees.eclipse.run.core.launchcloudconfiguration.launchConfigurationType">
		</launchConfigurationTabGroup>
	</extension>
	<extension point="org.eclipse.debug.ui.launchShortcuts">
		<shortcut
			class="com.cloudbees.eclipse.run.ui.launchconfiguration.CBLaunchShortcut"
			icon="icons/16x16/cb_plain.png" id="com.cloudbees.eclipse.run.ui.launchconfiguration.shortcut"
			label="CloudBees Application (local)" modes="run, debug">
			<contextualLaunch>
				<contextLabel label="CloudBees Application (local)" mode="run, debug">
				</contextLabel>
				<enablement>
					<with variable="selection">
						<count value="1">
						</count>
						<iterate>
							<and>
								<adapt type="org.eclipse.core.resources.IProject">
									<test forcePluginActivation="false"
										property="org.eclipse.core.resources.projectNature" value="com.cloudbees.eclipse.core.cloudbeesNature">
									</test>
								</adapt>
							</and>
						</iterate>
					</with>
				</enablement>
			</contextualLaunch>
		</shortcut>
		<shortcut
			class="com.cloudbees.eclipse.run.ui.launchconfiguration.CBCloudLaunchShortcut"
			icon="icons/16x16/cb_plain.png" id="com.cloudbees.eclipse.run.ui.launchcloudconfiguration.shortcut"
			label="CloudBees Application (RUN@cloud)@" modes="run">
			<contextualLaunch>
				<contextLabel label="CloudBees Application (RUN@cloud)@"
					mode="run, debug">
				</contextLabel>
				<enablement>
					<with variable="selection">
						<count value="1">
						</count>
						<iterate>
							<and>
								<adapt type="org.eclipse.core.resources.IProject">
									<test forcePluginActivation="false"
										property="org.eclipse.core.resources.projectNature" value="com.cloudbees.eclipse.core.cloudbeesNature">
									</test>
								</adapt>
							</and>
						</iterate>
					</with>
				</enablement>
			</contextualLaunch>
		</shortcut>
	</extension>
	<extension point="org.eclipse.wst.server.ui.wizardFragments">
		<fragment class="com.cloudbees.eclipse.run.ui.wizards.RunCloudServer"
			id="com.cloudbees.eclipse.core.runcloud" typeIds="com.cloudbees.eclipse.core.runcloud">
		</fragment>
		<fragment class="com.cloudbees.eclipse.run.ui.wizards.RunCloudLocal"
			id="com.cloudbees.eclipse.core.runcloud.local" typeIds="com.cloudbees.eclipse.core.runcloud.local">
		</fragment>
	</extension>
	<extension point="org.eclipse.wst.server.ui.serverImages">
		<image icon="icons/16x16/cb_plain.png" id="com.cloudbees.eclipse.run.ui.server.image"
			typeIds="com.cloudbees.eclipse.core.runcloud">
		</image>
		<image icon="icons/16x16/cb_plain.png" id="com.cloudbees.eclipse.run.ui.server.image"
			typeIds="com.cloudbees.eclipse.core.runcloud.local">
		</image>
	</extension>
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType
			delegate="com.cloudbees.eclipse.run.ui.launchconfiguration.CBLaunchDelegate"
			id="com.cloudbees.eclipse.run.core.launchconfiguration.launchConfigurationType"
			modes="run, debug" name="CloudBees Application">
		</launchConfigurationType>
		<launchConfigurationType
			delegate="com.cloudbees.eclipse.run.ui.launchconfiguration.CBCloudLaunchDelegate"
			id="com.cloudbees.eclipse.run.core.launchcloudconfiguration.launchConfigurationType"
			modes="run" name="CloudBees Application at RUN@cloud">
		</launchConfigurationType>
	</extension>

	<!--extension point="org.eclipse.ui.views">
		<category name="CloudBees" id="com.cloudbees.eclipse">
		</category>
		<view name="RUN@cloud apps" icon="icons/16x16/cb_run_arr_topleft.png"
			category="com.cloudbees.eclipse" class="com.cloudbees.eclipse.run.ui.views.AppListView"
			id="com.cloudbees.eclipse.run.ui.views.AppListView" allowMultiple="false">
		</view>
	</extension-->

    <extension
          point="com.cloudbees.eclipse.ui.cbTreeProvider">
       <cbTreeProvider
             class="com.cloudbees.eclipse.run.ui.views.AppListView">
       </cbTreeProvider>
    </extension>

	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
			<view relative="org.eclipse.ui.views.ProblemView" relationship="stack"
				id="com.cloudbees.eclipse.run.ui.views.AppListView">
			</view>
		</perspectiveExtension>
		<perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
			<view relative="org.eclipse.ui.views.TaskList" relationship="stack"
				id="com.cloudbees.eclipse.run.ui.views.AppListView">
			</view>
		</perspectiveExtension>
  <perspectiveExtension
        targetID="com.cloudbees.eclipse.ui.CloudBeesPerspective">
     <view
           id="com.cloudbees.eclipse.run.ui.views.AppListView"
           relationship="stack"
           relative="org.eclipse.ui.views.ProblemView">
     </view>
  </perspectiveExtension>
	</extension>


</plugin>
