<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension
        point="org.eclipse.ui.views">
        <view
            name="Build Jobs"
            icon="icons/cb_run_wheel_topleft.png"
            category="com.cloudbees.eclipse"
            class="com.cloudbees.eclipse.dev.ui.views.jobs.JobsView"
            id="com.cloudbees.eclipse.dev.ui.views.jobs.JobsView"
            restorable="false"
            allowMultiple="true">
        </view>
        <view
            name="Build History"
            icon="icons/cb_run_wheel_topleft.png"
            category="com.cloudbees.eclipse"
            class="com.cloudbees.eclipse.dev.ui.views.build.BuildHistoryView"
            id="com.cloudbees.eclipse.dev.ui.views.build.BuildHistoryView"
            restorable="false"
            allowMultiple="true">
        </view>
    </extension>
    
    <extension
        point="org.eclipse.ui.perspectiveExtensions">
        <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
            <view
                relative="org.eclipse.ui.views.ProblemView"
                relationship="stack"
                visible="false"
                id="com.cloudbees.eclipse.dev.ui.views.jobs.JobsView">
            </view>
        </perspectiveExtension>
        <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
            <view
                relative="org.eclipse.ui.views.TaskList"
                visible="false"
                relationship="stack"
                id="com.cloudbees.eclipse.dev.ui.views.jobs.JobsView">
            </view>
        </perspectiveExtension>
        <perspectiveExtension
              targetID="com.cloudbees.eclipse.ui.CloudBeesPerspective">
           <view
                 id="com.cloudbees.eclipse.dev.ui.views.jobs.JobsView"
                 visible="false"
                 relationship="stack"
                 relative="org.eclipse.ui.views.ProblemView">
           </view>
        </perspectiveExtension>
        <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
            <view
                relative="org.eclipse.ui.views.ProblemView"
                relationship="stack"
                visible="false"
                id="com.cloudbees.eclipse.dev.ui.views.build.BuildHistoryView">
            </view>
        </perspectiveExtension>
        <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
            <view
                relative="org.eclipse.ui.views.TaskList"
                relationship="stack"
                visible="false"
                id="com.cloudbees.eclipse.dev.ui.views.build.BuildHistoryView">
            </view>
        </perspectiveExtension>
        <perspectiveExtension
              targetID="com.cloudbees.eclipse.ui.CloudBeesPerspective">
           <view
                 id="com.cloudbees.eclipse.dev.ui.views.build.BuildHistoryView"
                 visible="false"
                 relationship="stack"
                 relative="org.eclipse.ui.views.ProblemView">
           </view>
        </perspectiveExtension>
    </extension>
    
    <extension
        point="org.eclipse.ui.editors">
        <editor
            class="com.cloudbees.eclipse.dev.ui.views.build.BuildPart"
            id="com.cloudbees.eclipse.dev.ui.views.build.BuildPart"
            icon="icons/epl/debugt_obj.png"
            name="Build details">
        </editor>
    </extension>
    
    <extension
        point="org.eclipse.ui.console.consolePageParticipants">
        <consolePageParticipant
            class="com.cloudbees.eclipse.dev.ui.views.jobs.JobConsolePageParticipant"
            id="com.cloudbees.eclipse.dev.ui.views.jobs.JobConsolePageParticipant">
            <enablement>
                <test
                    property="org.eclipse.ui.console.consoleTypeTest"
                    value="com.cloudbees.eclipse.dev.ui.views.jobs.JobConsole" />
            </enablement>
        </consolePageParticipant>
    </extension>
    
    <extension
        point="org.eclipse.ui.console.consolePatternMatchListeners">
        <consolePatternMatchListener
            class="org.eclipse.jdt.internal.debug.ui.console.JavaConsoleTracker"
            regex="\(\S*${java_extensions_regex}\S*\)"
            qualifier="${java_extensions_regex}"
            id="org.eclipse.builds.ui.console.JavaConsoleTracker">
            <enablement>
                <or>
                    <test
                        property="org.eclipse.ui.console.consoleTypeTest"
                        value="com.cloudbees.eclipse.dev.ui.views.jobs.JobConsole" />
                </or>
            </enablement>
        </consolePatternMatchListener>
        <consolePatternMatchListener
            class="org.eclipse.jdt.internal.debug.ui.console.JavaNativeConsoleTracker"
            regex="\(Native Method\)"
            qualifier="Native Method"
            id="org.eclipse.builds.ui.console.JavaNativeConsoleTracker">
            <enablement>
                <or>
                    <test
                        property="org.eclipse.ui.console.consoleTypeTest"
                        value="com.cloudbees.eclipse.dev.ui.views.jobs.JobConsole" />
                </or>
            </enablement>
        </consolePatternMatchListener>
        <consolePatternMatchListener
            class="org.eclipse.jdt.internal.debug.ui.console.JavaExceptionConsoleTracker"
            regex="\w[^\(\s]+Exception[\s|:]"
            qualifier="Exception"
            id="org.eclipse.builds.ui.console.JavaExceptionConsoleTracker">
            <enablement>
                <or>
                    <test
                        property="org.eclipse.ui.console.consoleTypeTest"
                        value="com.cloudbees.eclipse.dev.ui.views.jobs.JobConsole" />
                </or>
            </enablement>
        </consolePatternMatchListener>
        <consolePatternMatchListener
            class="com.cloudbees.eclipse.dev.ui.views.jobs.UrlConsoleTracker"
            id="org.eclipse.builds.ui.console.UrlConsoleTracker"
            qualifier="://"
            regex="([a-zA-Z][a-zA-Z+.-]{0,10}://[a-zA-Z0-9%._~!$&amp;?#&apos;()*+,;:@/=-]*[a-zA-Z0-9%_~!$&amp;?#&apos;(*+;:@/=-])">
            <enablement>
                <or>
                    <test
                        property="org.eclipse.ui.console.consoleTypeTest"
                        value="com.cloudbees.eclipse.dev.ui.views.jobs.JobConsole">
                    </test>
                </or>
            </enablement>
        </consolePatternMatchListener>
    </extension>
    
    <extension
       point="org.eclipse.ui.popupMenus">
     <objectContribution
           adaptable="false"
           id="com.cloudbees.eclipse.dev.ui.objectContribution.forge.properties"
           objectClass="com.cloudbees.eclipse.core.forge.api.ForgeInstance">
        <action
              class="com.cloudbees.eclipse.ui.internal.action.ShowPropertiesAction"
              enablesFor="1"
              id="com.cloudbees.eclipse.dev.ui.action.forge.properties"
              label="Properties">
        </action>
     </objectContribution>
          
     <objectContribution
           adaptable="false"
           id="com.cloudbees.eclipse.dev.ui.objectContribution.jenkins.view.open"
           objectClass="com.cloudbees.eclipse.core.jenkins.api.JenkinsInstanceResponse$View" >
        <action
              class="com.cloudbees.eclipse.dev.ui.actions.OpenBuildJobsAction"
              enablesFor="1"
              id="com.cloudbees.eclipse.dev.ui.actions.openViewJobs"
              icon="icons/cb_run_wheel_topleft.png"
              label="Jobs">
        </action>
     </objectContribution>
     
     <objectContribution
           adaptable="false"
           id="com.cloudbees.eclipse.dev.ui.refreshJenkinsCloud"
           objectClass="com.cloudbees.eclipse.dev.ui.views.instances.InstanceGroup$DevAtCloudJenkinsInstanceGroup">
        <action
              class="com.cloudbees.eclipse.dev.ui.actions.ReloadJenkinsCloudInstancesAction"
              enablesFor="1"
              icon="icons/epl/refresh.png"
              id="com.cloudbees.eclipse.dev.ui.action.reload"
              label="Reload...">
        </action>
     </objectContribution>
     
     <objectContribution
           adaptable="false"
           id="com.cloudbees.eclipse.dev.ui.refreshJenkinsLocal"
           objectClass="com.cloudbees.eclipse.dev.ui.views.instances.InstanceGroup$OnPremiseJenkinsInstanceGroup">
        <action
              class="com.cloudbees.eclipse.dev.ui.actions.ReloadJenkinsLocalInstancesAction"
              enablesFor="1"
              icon="icons/epl/refresh.png"
              id="com.cloudbees.eclipse.dev.ui.action.reload"
              label="Reload...">
        </action>
     </objectContribution>
     
     <objectContribution
           adaptable="false"
           id="com.cloudbees.eclipse.dev.ui.configureJenkins"
           objectClass="com.cloudbees.eclipse.dev.ui.views.instances.InstanceGroup$OnPremiseJenkinsInstanceGroup">
        <action
              class="com.cloudbees.eclipse.dev.ui.actions.ConfigureJenkinsInstancesAction"
              id="com.cloudbees.eclipse.dev.ui.action.attachJenkins"
              label="Configure...">
        </action>
     </objectContribution>
     
     <objectContribution
           adaptable="false"
           id="com.cloudbees.eclipse.dev.ui.refreshForge"
           objectClass="com.cloudbees.eclipse.dev.ui.views.forge.ForgeGroup">
        <action
              class="com.cloudbees.eclipse.dev.ui.actions.ReloadForgeReposAction"
              icon="icons/epl/refresh.png"
              id="com.cloudbees.eclipse.dev.ui.action.reloadForge"
              label="Configure Forge repos...">
        </action>
     </objectContribution>
     
     
     <objectContribution
           adaptable="false"
           id="com.cloudbees.eclipse.dev.ui.openBuildJob"
           objectClass="com.cloudbees.eclipse.core.jenkins.api.JenkinsInstanceResponse">
        <action
              class="com.cloudbees.eclipse.dev.ui.actions.OpenBuildJobsAction"
              enablesFor="1"
              id="com.cloudbees.eclipse.dev.ui.action.openJenkinsInstanceResponse"
              icon="icons/cb_run_wheel_topleft.png"
              label="Jobs">
        </action>
     </objectContribution>

	 <objectContribution
           adaptable="false"
           id="com.cloudbees.eclipse.dev.ui.objectContribution.jenkins.properties"
           objectClass="com.cloudbees.eclipse.core.jenkins.api.JenkinsInstanceResponse">
        <action
              class="com.cloudbees.eclipse.ui.internal.action.ShowPropertiesAction"
              enablesFor="1"
              id="com.cloudbees.eclipse.dev.ui.action.jenkins.properties"
              menubarPath="?after=com.cloudbees.eclipse.dev.ui.action.openJenkinsInstanceResponse"
              label="Properties">
        </action>
     </objectContribution>
     
     
     <objectContribution
           adaptable="false"
           id="com.cloudbees.eclipse.dev.ui.showFavourites"
           objectClass="com.cloudbees.eclipse.dev.ui.views.instances.FavoritesInstanceGroup">
        <action
              class="com.cloudbees.eclipse.dev.ui.actions.OpenBuildJobsAction"
              enablesFor="1"
              id="com.cloudbees.eclipse.dev.ui.action6"
              label="Show View">
        </action>
     </objectContribution>
     
     <objectContribution
           adaptable="false"
           id="com.cloudbees.eclipse.dev.ui.objectContribution.jenkins.view"
           objectClass="com.cloudbees.eclipse.core.jenkins.api.JenkinsInstanceResponse$View">
        <action
              class="com.cloudbees.eclipse.ui.internal.action.ShowPropertiesAction"
              enablesFor="1"
              id="com.cloudbees.eclipse.dev.ui.action.jenkins.view.properties"
              menubarPath="?after=com.cloudbees.eclipse.dev.ui.actions.openViewJobs"
              label="Properties">
        </action>
     </objectContribution>

    	<objectContribution
          adaptable="true"
          id="com.cloudbees.eclipse.dev.ui.newJenkinsJob"
          nameFilter="*"
          objectClass="org.eclipse.core.resources.IProject">
       <action
             class="com.cloudbees.eclipse.dev.ui.actions.NewJenkinsJobAction"
             enablesFor="1"
             icon="icons/16x16/jenkins.png"
             id="com.cloudbees.eclipse.dev.ui.action.newJenkinsJob"
             label="New Jenkins Job"
             menubarPath="com.cloudbees.eclipse.ui.popup.cloudbees/cloudbeesGroup?after=jenkins">
       </action>
       <visibility>
          <and>
             <objectClass
                   name="org.eclipse.core.resources.IProject">
             </objectClass>
             <objectState
                   name="projectNature"
                   value="com.cloudbees.eclipse.core.cloudbeesNature">
             </objectState>
          </and>
      	</visibility>
    	</objectContribution>
 	</extension>
 	
    <extension
          point="com.cloudbees.eclipse.ui.cbTreeProvider">
       <cbTreeProvider
             class="com.cloudbees.eclipse.dev.ui.views.instances.JenkinsTreeView">
       </cbTreeProvider>
    </extension>

    <extension
          point="com.cloudbees.eclipse.ui.cbTreeProvider">
       <cbTreeProvider
             class="com.cloudbees.eclipse.dev.ui.views.forge.ForgeTreeView">
       </cbTreeProvider>
    </extension>
    <extension
          point="org.eclipse.core.runtime.adapters">
       <factory
             adaptableType="com.cloudbees.eclipse.core.jenkins.api.JenkinsInstanceResponse"
             class="com.cloudbees.eclipse.dev.ui.AdapterFactory">
          <adapter
                type="org.eclipse.ui.views.properties.IPropertySource">
          </adapter>
       </factory>
       <factory
             adaptableType="com.cloudbees.eclipse.core.forge.api.ForgeInstance"
             class="com.cloudbees.eclipse.dev.ui.AdapterFactory">
          <adapter
                type="org.eclipse.ui.views.properties.IPropertySource">
          </adapter>
       </factory>
       <factory
             adaptableType="com.cloudbees.eclipse.core.jenkins.api.JenkinsInstanceResponse$View"
             class="com.cloudbees.eclipse.dev.ui.AdapterFactory">
          <adapter
                type="org.eclipse.ui.views.properties.IPropertySource">
          </adapter>
       </factory>
    </extension>
    
    <extension
       point="com.cloudbees.eclipse.run.core.newClickStartProjectHook">
    <hook
          defaultHandler="com.cloudbees.eclipse.dev.ui.NewRepoHook"
          id="com.cloudbees.eclipse.dev.ui.NewRepoHook">
    </hook>
    </extension>
    
</plugin>
