<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension
        point="org.eclipse.ui.views">
        <view
            name="Build Jobs"
            icon="icons/cb_run_wheel_topleft.png"
            category="com.cloudbees.eclipse"
            class="com.cloudbees.eclipse.dev.ui.views.jobs.JobsView"
            id="com.cloudbees.eclipse.dev.ui.views.jobs.JobsView"
            restorable="false"
            allowMultiple="true">
        </view>
        <view
            name="Build History"
            icon="icons/cb_run_wheel_topleft.png"
            category="com.cloudbees.eclipse"
            class="com.cloudbees.eclipse.dev.ui.views.build.BuildHistoryView"
            id="com.cloudbees.eclipse.dev.ui.views.build.BuildHistoryView"
            restorable="false"
            allowMultiple="true">
        </view>
    </extension>
    
    <extension
        point="org.eclipse.ui.perspectiveExtensions">
        <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
            <view
                relative="org.eclipse.ui.views.ProblemView"
                relationship="stack"
                id="com.cloudbees.eclipse.dev.ui.views.jobs.JobsView">
            </view>
        </perspectiveExtension>
        <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
            <view
                relative="org.eclipse.ui.views.TaskList"
                relationship="stack"
                id="com.cloudbees.eclipse.dev.ui.views.jobs.JobsView">
            </view>
        </perspectiveExtension>
        <perspectiveExtension
              targetID="com.cloudbees.eclipse.ui.CloudBeesPerspective">
           <view
                 id="com.cloudbees.eclipse.dev.ui.views.jobs.JobsView"
                 relationship="stack"
                 relative="org.eclipse.ui.views.ProblemView">
           </view>
        </perspectiveExtension>
        <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
            <view
                relative="org.eclipse.ui.views.ProblemView"
                relationship="stack"
                id="com.cloudbees.eclipse.dev.ui.views.build.BuildHistoryView">
            </view>
        </perspectiveExtension>
        <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
            <view
                relative="org.eclipse.ui.views.TaskList"
                relationship="stack"
                id="com.cloudbees.eclipse.dev.ui.views.build.BuildHistoryView">
            </view>
        </perspectiveExtension>
        <perspectiveExtension
              targetID="com.cloudbees.eclipse.ui.CloudBeesPerspective">
           <view
                 id="com.cloudbees.eclipse.dev.ui.views.build.BuildHistoryView"
                 relationship="stack"
                 relative="org.eclipse.ui.views.ProblemView">
           </view>
        </perspectiveExtension>
    </extension>
    
    <extension
        point="org.eclipse.ui.editors">
        <editor
            class="com.cloudbees.eclipse.dev.ui.views.build.BuildPart"
            id="com.cloudbees.eclipse.dev.ui.views.build.BuildPart"
            icon="icons/epl/debugt_obj.png"
            name="Build details">
        </editor>
    </extension>
    
    <extension
        point="org.eclipse.ui.console.consolePageParticipants">
        <consolePageParticipant
            class="com.cloudbees.eclipse.dev.ui.views.jobs.JobConsolePageParticipant"
            id="com.cloudbees.eclipse.dev.ui.views.jobs.JobConsolePageParticipant">
            <enablement>
                <test
                    property="org.eclipse.ui.console.consoleTypeTest"
                    value="com.cloudbees.eclipse.dev.ui.views.jobs.JobConsole" />
            </enablement>
        </consolePageParticipant>
    </extension>
    
    <extension
        point="org.eclipse.ui.console.consolePatternMatchListeners">
        <consolePatternMatchListener
            class="org.eclipse.jdt.internal.debug.ui.console.JavaConsoleTracker"
            regex="\(\S*${java_extensions_regex}\S*\)"
            qualifier="${java_extensions_regex}"
            id="org.eclipse.builds.ui.console.JavaConsoleTracker">
            <enablement>
                <or>
                    <test
                        property="org.eclipse.ui.console.consoleTypeTest"
                        value="com.cloudbees.eclipse.dev.ui.views.jobs.JobConsole" />
                </or>
            </enablement>
        </consolePatternMatchListener>
        <consolePatternMatchListener
            class="org.eclipse.jdt.internal.debug.ui.console.JavaNativeConsoleTracker"
            regex="\(Native Method\)"
            qualifier="Native Method"
            id="org.eclipse.builds.ui.console.JavaNativeConsoleTracker">
            <enablement>
                <or>
                    <test
                        property="org.eclipse.ui.console.consoleTypeTest"
                        value="com.cloudbees.eclipse.dev.ui.views.jobs.JobConsole" />
                </or>
            </enablement>
        </consolePatternMatchListener>
        <consolePatternMatchListener
            class="org.eclipse.jdt.internal.debug.ui.console.JavaExceptionConsoleTracker"
            regex="\w[^\(\s]+Exception[\s|:]"
            qualifier="Exception"
            id="org.eclipse.builds.ui.console.JavaExceptionConsoleTracker">
            <enablement>
                <or>
                    <test
                        property="org.eclipse.ui.console.consoleTypeTest"
                        value="com.cloudbees.eclipse.dev.ui.views.jobs.JobConsole" />
                </or>
            </enablement>
        </consolePatternMatchListener>
        <consolePatternMatchListener
            class="com.cloudbees.eclipse.dev.ui.views.jobs.UrlConsoleTracker"
            id="org.eclipse.builds.ui.console.UrlConsoleTracker"
            qualifier="://"
            regex="([a-zA-Z][a-zA-Z+.-]{0,10}://[a-zA-Z0-9%._~!$&amp;?#&apos;()*+,;:@/=-]*[a-zA-Z0-9%_~!$&amp;?#&apos;(*+;:@/=-])">
            <enablement>
                <or>
                    <test
                        property="org.eclipse.ui.console.consoleTypeTest"
                        value="com.cloudbees.eclipse.dev.ui.views.jobs.JobConsole">
                    </test>
                </or>
            </enablement>
        </consolePatternMatchListener>
    </extension>
    
    <extension
       point="org.eclipse.ui.popupMenus">
    	<objectContribution
          adaptable="true"
          id="com.cloudbees.eclipse.dev.ui.newJenkinsJob"
          nameFilter="*"
          objectClass="org.eclipse.core.resources.IProject">
       <action
             class="com.cloudbees.eclipse.dev.ui.actions.NewJenkinsJobAction"
             enablesFor="1"
             id="com.cloudbees.eclipse.dev.ui.action.newJenkinsJob"
             label="New Jenkins Job"
             menubarPath="com.cloudbees.eclipse.ui.popup.cloudbees/cloudbeesGroup">
       </action>
       <visibility>
          <and>
             <objectClass
                   name="org.eclipse.core.resources.IProject">
             </objectClass>
             <objectState
                   name="projectNature"
                   value="com.cloudbees.eclipse.core.cloudbeesNature">
             </objectState>
          </and>
      	</visibility>
    	</objectContribution>
 	</extension>
 	
    <extension
          point="com.cloudbees.eclipse.ui.cbTreeProvider">
       <cbTreeProvider
             class="com.cloudbees.eclipse.dev.ui.views.instances.JenkinsTreeView">
       </cbTreeProvider>
    </extension>
     
</plugin>
