<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension
        point="org.eclipse.ui.views">
        <category
            name="CloudBees"
            id="com.cloudbees.eclipse">
        </category>
        <view
            name="CloudBees"
            icon="icons/16x16/cb_plain.png"
            category="com.cloudbees.eclipse"
            class="com.cloudbees.eclipse.dev.ui.views.instances.JenkinsTreeView"
            id="com.cloudbees.eclipse.dev.ui.views.instances.JenkinsTreeView">
        </view>
        <view
            name="Build Jobs"
            icon="icons/cb_run_wheel_topleft.png"
            category="com.cloudbees.eclipse"
            class="com.cloudbees.eclipse.dev.ui.views.jobs.JobsView"
            id="com.cloudbees.eclipse.ui.views.JobsView"
            restorable="false"
            allowMultiple="true">
        </view>
    </extension>
    
    <extension
        point="org.eclipse.ui.perspectiveExtensions">
        <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
            <view
                ratio="0.7"
                relative="org.eclipse.jdt.ui.PackageExplorer"
                relationship="bottom"
                id="com.cloudbees.eclipse.dev.ui.views.instances.JenkinsTreeView">
            </view>
        </perspectiveExtension>
        <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
            <view
                ratio="0.7"
                relative="org.eclipse.ui.views.ContentOutline"
                relationship="stack"
                id="com.cloudbees.eclipse.dev.ui.views.instances.JenkinsTreeView">
            </view>
        </perspectiveExtension>
        <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
            <view
                relative="org.eclipse.ui.views.ProblemView"
                relationship="stack"
                id="com.cloudbees.eclipse.ui.views.JobsView">
            </view>
        </perspectiveExtension>
        <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
            <view
                relative="org.eclipse.ui.views.TaskList"
                relationship="stack"
                id="com.cloudbees.eclipse.ui.views.JobsView">
            </view>
        </perspectiveExtension>
    </extension>
    
    <extension
        point="org.eclipse.ui.editors">
        <editor
            class="com.cloudbees.eclipse.dev.ui.views.build.BuildPart"
            id="com.cloudbees.eclipse.dev.ui.views.build.BuildPart"
            icon="icons/epl/debugt_obj.png"
            name="Build details">
        </editor>
    </extension>
    
</plugin>
