<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.cloudbees.eclipse.run.core.newClickStartProjectHook">
      <hook
            defaultHandler="com.cloudbees.eclipse.m2e.NewMavenClickStartProjectHook"
            id="com.cloudbees.eclipse.m2e.newMavenProjectHook">
      </hook>
   </extension>


</plugin>
