<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="com.cloudbees.eclipse.dev.core.forgeSyncProvider">
      <forgeSyncProvider
      		enabler="com.cloudbees.eclipse.dev.scm.egit.ForgeEGitSyncEnabler"
            class="com.cloudbees.eclipse.dev.scm.egit.ForgeEGitSync">
      </forgeSyncProvider>
   </extension>

	<extension
        point="org.eclipse.ui.perspectiveExtensions">

        <perspectiveExtension
              targetID="com.cloudbees.eclipse.ui.CloudBeesPerspective">
           <view
                 id="org.eclipse.egit.ui.RepositoriesView"
                 relationship="stack"                                  
                 relative="com.cloudbees.eclipse.ui.views.CBTreeView">
           </view>
        </perspectiveExtension>
	</extension>

</plugin>
