<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="com.cloudbees.eclipse.dev.core.forgeSyncProvider">
      <forgeSyncProvider
      		enabler="com.cloudbees.eclipse.dev.scm.subclipse.ForgeSubclipseSyncEnabler"
            class="com.cloudbees.eclipse.dev.scm.subclipse.ForgeSubclipseSync">
      </forgeSyncProvider>
   </extension>

</plugin>
