<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension-point id="com.cloudbees.eclipse.ui.cbTreeProvider"
		name="cbTreeProvider" schema="schema/com.cloudbees.eclipse.ui.cbTreeProvider.exsd" />

    <extension
        point="org.eclipse.ui.preferencePages">
        <page
            class="com.cloudbees.eclipse.ui.internal.preferences.GeneralPreferencePage"
            id="com.cloudbees.eclipse.ui.preferences.GeneralPreferencePage"
            name="CloudBees">
        </page>
        <page
            class="com.cloudbees.eclipse.ui.internal.preferences.JenkinsInstancesPreferencePage"
            id="com.cloudbees.eclipse.ui.preferences.JenkinsInstancesPreferencePage"
            category="com.cloudbees.eclipse.ui.preferences.GeneralPreferencePage"
            name="On-premise Jenkins">
        </page>
    </extension>
    
    <extension
        point="org.eclipse.core.runtime.preferences">
        <initializer
            class="com.cloudbees.eclipse.ui.internal.preferences.PreferenceInitializer">
        </initializer>
    </extension>
    
    <extension
        point="org.eclipse.ui.intro.configExtension">
        <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/intro.xml">
        </configExtension>
        <action
            name="com.cloudbees.eclipse.actions.openPrefs"
            replaces="http://org.eclipse.ui.intro/configureCB" />
    </extension>
    
    <extension
        point="org.eclipse.ui.actionSets">
        <actionSet
            id="com.cloudbees.eclipse.ui.actionSet1"
            label="label">
            <action
                id="com.cloudbees.eclipse.actions.openPrefs"
                label="Configure CloudBees Account"
                class="com.cloudbees.eclipse.ui.internal.action.ConfigureCloudBeesAction">
            </action>
        </actionSet>
    </extension>
    
    <extension
        point="org.eclipse.ui.decorators">
        <decorator
            adaptable="true"
            icon="icons/16x16/cb_project2.png"
            id="com.cloudbees.eclipse.ui.project"
            label="%project.decorator.label"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
            <enablement>
                <and>
                    <objectClass
                        name="org.eclipse.core.resources.IProject">
                    </objectClass>
                    <objectState
                        name="projectNature"
                        value="com.cloudbees.eclipse.core.cloudbeesNature">
                    </objectState>
                </and>
            </enablement>
        </decorator>
    </extension>
    
    <extension
        point="org.eclipse.ui.popupMenus">
        <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="com.cloudbees.eclipse.ui.popup.contribution">
            <menu
                label="%cloudbees.popup.menu.label"
                path="additions"
                icon="icons/16x16/cb_plain.png"
                id="com.cloudbees.eclipse.ui.popup.cloudbees">
                <separator
                    name="cloudbeesGroup"></separator>
                <groupMarker
                      name="launch">
                </groupMarker>
                <groupMarker
                      name="jenkins">
                </groupMarker>
                <groupMarker
                      name="cbSupport">
                </groupMarker>
            </menu>
        </objectContribution>
        
        <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="com.cloudbees.eclipse.ui.cloudbeessupport.add">
            <visibility>
                <and>
                    <objectClass
                        name="org.eclipse.core.resources.IProject">
                    </objectClass>
                    <not>
                        <objectState
                            name="projectNature"
                            value="com.cloudbees.eclipse.core.cloudbeesNature">
                        </objectState>
                    </not>
                </and>
            </visibility>
            <action
                class="com.cloudbees.eclipse.ui.internal.action.ToggleCloudBeesSupportAction"
                enablesFor="1"
                id="com.cloudbees.eclipse.ui.popup.addNatureAction"
                label="%add.cloudbees.support.action.label"
                menubarPath="com.cloudbees.eclipse.ui.popup.cloudbees/cloudbeesGroup/cbSupport"
                tooltip="%add.cloudbees.support.action.tooltip">
            </action>
        </objectContribution>
        
        <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"            
            id="com.cloudbees.eclipse.ui.cloudbeessupport.remove">
            <visibility>            
                <and>
                    <objectClass
                        name="org.eclipse.core.resources.IProject">
                    </objectClass>
                    <objectState
                        name="projectNature"
                        value="com.cloudbees.eclipse.core.cloudbeesNature">
                    </objectState>
                </and>
            </visibility>
            <action            
                class="com.cloudbees.eclipse.ui.internal.action.ToggleCloudBeesSupportAction"
                enablesFor="1"
                id="com.cloudbees.eclipse.ui.popup.removeNatureAction"
                label="%remove.cloudbees.support.action.label"
                menubarPath="com.cloudbees.eclipse.ui.popup.cloudbees/cloudbeesGroup?after=cbSupport"
                tooltip="%remove.cloudbees.support.action.tooltip">
            </action>
        </objectContribution>
    </extension>
    
    <extension
          point="org.eclipse.ui.perspectives">
       <perspective
             class="org.eclipse.jdt.internal.ui.JavaPerspectiveFactory"
             icon="icons/16x16/cb_plain.png"
             id="com.cloudbees.eclipse.ui.CloudBeesPerspective"
             name="CloudBees">
       </perspective>
    </extension>
    
    <extension
        point="org.eclipse.ui.views">
        <category
            name="CloudBees"
            id="com.cloudbees.eclipse">
        </category>
        <view
            name="CloudBees"
            icon="icons/16x16/cb_plain.png"
            category="com.cloudbees.eclipse"
            class="com.cloudbees.eclipse.ui.views.CBTreeView"
            id="com.cloudbees.eclipse.ui.views.CBTreeView">
        </view>
	</extension>    
	
    <extension
        point="org.eclipse.ui.perspectiveExtensions">
        <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
            <view
                ratio="0.7"
                relative="org.eclipse.jdt.ui.PackageExplorer"
                relationship="bottom"
                id="com.cloudbees.eclipse.ui.views.CBTreeView">
            </view>
        </perspectiveExtension>
        <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
            <view
                ratio="0.7"
                relative="org.eclipse.ui.views.ContentOutline"
                relationship="stack"
                id="com.cloudbees.eclipse.ui.views.CBTreeView">
            </view>
        </perspectiveExtension>
        <perspectiveExtension
              targetID="com.cloudbees.eclipse.ui.CloudBeesPerspective">
           <view
                 id="com.cloudbees.eclipse.ui.views.CBTreeView"
                 ratio="0.7"
                 relationship="bottom"
                 relative="org.eclipse.jdt.ui.PackageExplorer">
           </view>
        </perspectiveExtension>
	</extension>
    <extension
          point="org.eclipse.ui.commands">
       <category
             id="com.cloudbees.eclipse.ui.commands.category"
             name="CloudBees">
       </category>
       <command
             categoryId="com.cloudbees.eclipse.ui.commands.category"
             defaultHandler="com.cloudbees.eclipse.ui.internal.commands.ReferenceHandler"
             id="com.cloudbees.eclipse.ui.commands.referenceToMenu"
             name="Reference To CloudBees Menus">
       </command>
       <command
             categoryId="com.cloudbees.eclipse.ui.commands.category"
             defaultHandler="com.cloudbees.eclipse.ui.internal.commands.ConfigureAccountHandler"
             id="com.cloudbees.eclipse.run.ui.commands.cloudBeesAccount"
             name="Configure Account...">
       </command>
       <command
             categoryId="com.cloudbees.eclipse.ui.commands.category"
             defaultHandler="com.cloudbees.eclipse.ui.internal.commands.ShowCloudBeesViewHandler"
             id="com.cloudbees.eclipse.ui.commands.showCloudBeesView"
             name="CloudBees View">
       </command>
    </extension>
    <extension
          point="org.eclipse.ui.menus">
       <menuContribution
             allPopups="false"
             locationURI="toolbar:org.eclipse.ui.main.toolbar">
          <toolbar
                id="com.cloudbees.eclipse.ui.toolbar"
                label="CloudBees">
             <command
                   commandId="com.cloudbees.eclipse.ui.commands.referenceToMenu"
                   icon="icons/16x16/cb_plain.png"
                   label="CloudBees"
                   style="pulldown">
             </command>
          </toolbar>
       </menuContribution>
       <menuContribution
             allPopups="false"
             locationURI="menu:com.cloudbees.eclipse.ui.commands.referenceToMenu">
          <command
                commandId="com.cloudbees.eclipse.run.ui.commands.cloudBeesAccount"
                label="Configure Account..."
                mnemonic="C"
                style="push"
                tooltip="Manage CloudBees Eclipse Toolkit settings">
          </command>
       </menuContribution>
       <menuContribution
             allPopups="false"
             locationURI="menu:com.cloudbees.eclipse.ui.commands.referenceToMenu">
          <command
                commandId="com.cloudbees.eclipse.ui.commands.showCloudBeesView"
                icon="icons/16x16/cb_plain.png"
                label="CloudBees View"
                mnemonic="V"
                style="push"
                tooltip="Open CloudBees View">
          </command>
       </menuContribution>
    </extension>	
</plugin>
