<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.cloudbees.eclipse.ui.internal.preferences.GeneralPreferencePage"
            id="com.cloudbees.eclipse.ui.preferences.GeneralPreferencePage"
            name="CloudBees">
      </page>

      <page
            class="com.cloudbees.eclipse.ui.internal.preferences.NectarInstancesPreferencePage"
            id="com.cloudbees.eclipse.ui.preferences.NectarInstancesPreferencePage"
            category="com.cloudbees.eclipse.ui.preferences.GeneralPreferencePage"            
            name="Nectar">
      </page>

   </extension>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.cloudbees.eclipse.ui.internal.preferences.PreferenceInitializer">
      </initializer>
   </extension>

   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/intro.xml">
      </configExtension>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="CloudBees"
            id="com.cloudbees.eclipse">
      </category>
      
      <view
            name="CloudBees"
            icon="icons/16x16/cb_plain.png"
            category="com.cloudbees.eclipse"
            class="com.cloudbees.eclipse.ui.views.nectartree.NectarTreeView"
            id="com.cloudbees.eclipse.ui.views.nectartree.NectarTreeView">
      </view>
      <view
            name="Build Jobs"
            icon="icons/jobs_view6.png"
            category="com.cloudbees.eclipse"
            class="com.cloudbees.eclipse.ui.views.jobs.JobsView"
            id="com.cloudbees.eclipse.ui.views.JobsView">
      </view>
      <view
            class="com.cloudbees.eclipse.ui.views.build.Tee"
            id="com.cloudbees.eclipse.ui.views.build.Tee"
            name="New ViewPart">
      </view>

   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="com.cloudbees.eclipse.ui.views.nectartree.NectarTreeView">
         </view>
      </perspectiveExtension>

      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="com.cloudbees.eclipse.ui.views.nectartree.NectarTreeView">
         </view>
      </perspectiveExtension>

   </extension>

 <extension point="org.eclipse.ui.editors">
       <editor
             class="com.cloudbees.eclipse.ui.views.build.BuildPart"
             id="com.cloudbees.eclipse.ui.views.build.BuildPart"
             icon="icons/epl/debugt_obj.png"
             name="Build details">
       </editor>
  </extension>
</plugin>
