<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension
         id="cloudbeesNature"
         name="CloudBees support"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.cloudbees.eclipse.core.CloudBeesNature">
         </run>
      </runtime>
      <!--builder
            id="com.cloudbees.eclipse.core.builder.cloudbeesBuilder">
      </builder-->
      <options
            allowLinking="true">
      </options>
    </extension>
    <extension
          point="org.eclipse.core.expressions.propertyTesters">
       <propertyTester
             class="com.cloudbees.eclipse.core.CloudBeesNaturePropertyTester"
             id="com.cloudbees.eclipse.core.cloudbeesNaturePropertyTester"
             namespace="com.cloudbees.eclipse.core"
             properties="isCloudBeesNature, isNotCloudBeesNature"
             type="org.eclipse.core.resources.IProject">
       </propertyTester>
    </extension>

</plugin>
