<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.wst.server.ui.wizardFragments">
		<fragment class="com.cloudbees.eclipse.run.wst.ui.RunCloudServer"
			id="com.cloudbees.eclipse.core.runcloud" typeIds="com.cloudbees.eclipse.core.runcloud">
		</fragment>
		<fragment class="com.cloudbees.eclipse.run.wst.ui.RunCloudLocal"
			id="com.cloudbees.eclipse.core.runcloud.local" typeIds="com.cloudbees.eclipse.core.runcloud.local">
		</fragment>
	</extension>
	<extension point="org.eclipse.wst.server.ui.serverImages">
		<image icon="icons/16x16/cb_plain.png" id="com.cloudbees.eclipse.run.ui.server.image"
			typeIds="com.cloudbees.eclipse.core.runcloud">
		</image>
		<image icon="icons/16x16/cb_plain.png" id="com.cloudbees.eclipse.run.ui.server.image"
			typeIds="com.cloudbees.eclipse.core.runcloud.local">
		</image>
	</extension>
 <extension
       point="com.cloudbees.eclipse.run.ui.launchDelegateAditions">
    <launchAdition
          actions="com.cloudbees.eclipse.run.wst.ui.WSTExtraActions">
    </launchAdition>
 </extension>

</plugin>
