<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.cloudbees.eclipse.run.core.launchconfiguration.CBLaunchConfigurationType"
            id="com.cloudbees.eclipse.run.core.launchconfiguration.launchConfigurationType"
            modes="run"
            name="CloudBees Application">
      </launchConfigurationType>
   </extension>

</plugin>
